/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 */

/**
 * Responsive breakpoints - Only 2 modes: mobile and desktop
 * Mobile: 0-719px
 * Desktop: 720px and up
 */
:root {
  --breakpoint-desktop: 720px;
}

/**
 * This uses the background and foreground colors declared in the `theme.json`
 * file and is applied both to the front end and in the block editor.
 */
html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

body {
	@apply bg-background text-foreground font-sans;
}

 /* stylelint-disable plugin/stylelint-bem-namics */
 #page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#content {
  padding-top: 110px;
  padding-bottom: 50px;

  @media (max-width: calc(theme(--breakpoint-md) - 1px)) {
    padding-top: 70px;
  }
}
/* stylelint-enable plugin/stylelint-bem-namics */


